*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: black;
    color:white;
    height: 100%;
}

.darkMode{
    background-color: white;
    color: black;
}

body .header{
    display: flex;
    justify-content: space-between;
    border-bottom: double;
    border-width: 10px;
}

.mode-button{
    background-color: rgb(31, 31, 31);
    color: white;
}

body section{
    display: flex;
    width: 100%;
    height: 800px;
}

body footer{
    display: flex;
    border-top:double;
    border-width: 10px;
}

.postCard {
    display: flex;
    justify-content: space-around;
}

#bPosts {
    width: 98%;
}

#bPosts li{ 
    display: inline-block;
    border: solid;
    border-width: 2px;
    margin: 5px;
    width: 100%;
}

#bPosts li h3,
            p,
            h4{
                display: flex;
                width: 99%;
            }

#bPosts li h3 {
    border-bottom: solid;
    border-width: 1px;
    margin: 10px;
}

#bPosts li p {
    margin-left: 20px;
    font-style: italic;
}

#bPosts li h4 {
    margin: 50px 10px 5px 10px;
}